@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
::selection {
  background-color: #444444;
  color: #fff; }

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #444444; }

input {
  outline: none; }

li {
  list-style-type: none; }

button,
[type='button'],
[type='submit'] {
  cursor: pointer; }

html,
body {
  color: #444444;
  font-family: "Roboto Mono", monospace;
  font-size: 90%; }

@media (min-width: 768px) {
  .search-box,
  .tag-lists {
    flex: 0 0 40% !important; }

  .search-box.fixed {
    width: 50% !important; }

  .tag-lists {
    justify-content: flex-start !important;
    order: -1; }

  .content-wrapper .content {
    flex: 0 0 40% !important; }

  .more {
    width: auto !important;
    margin: 0 auto !important;
    padding: 10px 20px !important; } }
@-webkit-keyframes dots {
  to {
    width: 2rem; } }
@-moz-keyframes dots {
  to {
    width: 2rem; } }
@-ms-keyframes dots {
  to {
    width: 2rem; } }
@keyframes dots {
  to {
    width: 2rem; } }
@-webkit-keyframes slideDown {
  0% {
    transform: translateX(-50%) translateY(-100%); }
  100% {
    transform: translateX(-50%) translateY(0); } }
@-moz-keyframes slideDown {
  0% {
    transform: translateX(-50%) translateY(-100%); }
  100% {
    transform: translateX(-50%) translateY(0); } }
@-ms-keyframes slideDown {
  0% {
    transform: translateX(-50%) translateY(-100%); }
  100% {
    transform: translateX(-50%) translateY(0); } }
@keyframes slideDown {
  0% {
    transform: translateX(-50%) translateY(-100%); }
  100% {
    transform: translateX(-50%) translateY(0); } }
@-webkit-keyframes slideUp {
  0% {
    transform: translateX(-50%) translateY(0); }
  100% {
    transform: translateX(-50%) translateY(-100%); } }
@-moz-keyframes slideUp {
  0% {
    transform: translateX(-50%) translateY(0); }
  100% {
    transform: translateX(-50%) translateY(-100%); } }
@-ms-keyframes slideUp {
  0% {
    transform: translateX(-50%) translateY(0); }
  100% {
    transform: translateX(-50%) translateY(-100%); } }
@keyframes slideUp {
  0% {
    transform: translateX(-50%) translateY(0); }
  100% {
    transform: translateX(-50%) translateY(-100%); } }
.divider {
  height: 2px;
  background-color: #444444;
  margin: 30px auto; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  animation: slideDown 0.5s ease;
  border: none !important; }

.btn {
  display: block;
  background-color: #444444;
  color: white;
  padding: 8px;
  border-radius: 2rem;
  border: none;
  box-shadow: 5px 5px 5px lightgray;
  transition: all 0.1s ease; }

.btn:hover {
  transform: translate(3px, 3px);
  box-shadow: none; }

.loader {
  text-align: center; }
  .loader:after {
    content: "...";
    display: inline-block;
    width: 0;
    overflow: hidden;
    animation: dots steps(4, end) 2s infinite; }

.komunitas {
  background-color: crimson; }

.makanan {
  background-color: teal; }

.hits {
  background-color: goldenrod; }

.cafe {
  background-color: royalblue; }

.liburan {
  background-color: seagreen; }

.container {
  width: 90%;
  margin: 20px auto; }
  .container header,
  .container main {
    margin-bottom: 20px; }
  .container header {
    padding-top: 3rem;
    text-align: center; }
    .container header .site-logo {
      margin: 0 auto; }
    .container header .st {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap row;
      margin-top: 4rem; }
      .container header .st .search-box,
      .container header .st .tag-lists {
        flex: 0 0 100%;
        margin-bottom: 20px; }
    .container header .search-box.fixed {
      width: 90%;
      border-radius: 2rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      box-shadow: 0 2px 5px grey;
      overflow: hidden; }
      .container header .search-box.fixed input {
        border: none !important;
        border-radius: 0 !important; }
    .container header .search-box {
      text-align: center;
      border: 1px solid #444;
      border-radius: 2rem;
      height: 40px; }
      .container header .search-box form {
        width: 100%;
        height: 100%; }
        .container header .search-box form:after {
          content: "";
          clear: both; }
        .container header .search-box form input {
          display: block;
          float: left !important;
          width: 90% !important;
          height: 100% !important;
          padding: 10px;
          background-color: transparent;
          color: #444444;
          border: none !important;
          border-radius: 2rem; }
        .container header .search-box form input::placeholder {
          font-size: 0.8rem; }
        .container header .search-box form button {
          float: right;
          width: 10%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background-color: transparent; }
    .container header .tag-lists {
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      flex: 0 0 100%; }
      .container header .tag-lists a {
        margin-top: 5px;
        margin-right: 10px;
        font-size: 0.8rem; }
  .container main .content-wrapper {
    margin-bottom: 20px; }
    .container main .content-wrapper > div {
      display: flex;
      flex-flow: wrap row;
      justify-content: space-around; }
    .container main .content-wrapper .is-404 {
      font-size: 6rem;
      text-align: center;
      color: #cfcfcf; }
    .container main .content-wrapper .content {
      flex: 0 0 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-bottom: 1px dashed;
      text-align: center; }
      .container main .content-wrapper .content > * {
        margin-bottom: 10px; }
      .container main .content-wrapper .content .title {
        text-decoration: underline; }
      .container main .content-wrapper .content .logo {
        border-radius: 50%;
        border: 1px solid;
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto 10px auto;
        box-shadow: 5px 5px 5px lightgray;
        cursor: pointer; }
      .container main .content-wrapper .content .desc {
        text-align: justify; }
      .container main .content-wrapper .content .social-media i {
        font-size: 1.5rem; }
      .container main .content-wrapper .content .tags {
        font-size: 0.8rem;
        display: flex;
        flex-flow: wrap row; }
        .container main .content-wrapper .content .tags a {
          margin-right: 5px; }
  .container main .more {
    border: none;
    width: 100%; }
  .container footer {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between; }
@keyframes beat {
  to {
    transform: scale(1.2); } }
    .container footer > span {
      margin-bottom: 20px; }
    .container footer .fa-heart {
      animation: beat 0.5s infinite alternate;
      transform-origin: center;
      color: crimson; }

/*# sourceMappingURL=main.css.map */
